.confirm {
	font-family: Arial, sans-serif;
	margin-top: 95px;
	background-color: #000;
}
.confirm.hidden {
	display: none;
}
.confirm-label {
	color: #bbb;
	font-size: 64pt;
}
.confirm-intro {
	color: #999;
	font-size: 20pt;
	padding: 20px 0 0 20px;
}
.confirm-label .step-number {
	background-color: #69f;
}
.confirm-table {
	margin: 40px;
	width: calc(100% - 80px);
	color: #fff;
	border-collapse: collapse;
}
.confirm-table thead {
	color: #888;
	font-weight: 700;
}
.confirm-table thead tr td {
	padding: 10px;
}
.confirm-row:nth-child(odd) {
	background-color: #222;
}
.confirm-row:nth-child(even) {
	background-color: #444;
}
.confirm-name {
	padding: 10px;
}
.confirm-price {
	width: 35px;
	padding-right: 20px;
	text-align: right;
}
.confirm-quant {
	width: 60px;
	padding-right: 20px;
	text-align: right;
}
.confirm-table tfoot tr td {
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	color: #f96;
	padding: 10px;
}
.confirm-address, .confirm-special {
	padding: 20px 60px;
	font-size: 16pt;
	color: #999;
}
.confirm-address input, .confirm-special input {
	margin-top: 10px;
	width: 100%;
	font-size: 16pt;
}
.amend-order {
	font-size: 24pt;
	margin: 12px;
	padding: 12px;
	background-color: #000;
	color: #ddd;
	outline: none;
	box-shadow: none;
	border-radius: 6px;
	border-color: #fff;
}
.confirm-order {
	position: absolute;
	right: 0;
	font-size: 24pt;
	margin: 12px;
	padding: 12px;
	background-color: #000;
	color: #ddd;
	outline: none;
	box-shadow: none;
	border-radius: 6px;
	border-color: #fff;
}
