.done {
	font-family: Arial, sans-serif;
	margin-top: 95px;
	background-color: #000;
	text-align: center;
	color: #fff;
	padding: 50px;
	padding-bottom: 20px;
	font-size: 32pt;
}
.processing {
	padding-bottom: 30px;
}
.bottom-bar {
	margin-top: 50px;
}
